Source: vicare
Section: lisp
Priority: extra
Maintainer: Barak A. Pearlmutter <bap@debian.org>
Build-Depends: debhelper (>= 9),
	       dh-autoreconf,
	       libgmp3-dev,
	       libffi-dev
Standards-Version: 3.9.2
Homepage: http://marcomaggi.github.com/vicare.html
Vcs-Git: git://github.com/barak/vicare
Vcs-Browser: http://github.com/barak/vicare

Package: vicare-scheme
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Scheme compiler and interpreter
 Vicare, a fork of Ikarus, is a compiler-based implementation of the
 Scheme programming language, which targets the i386 (with sse2) and
 AMD64 architectures.  It has good performance, is rather light
 weight, is case-sensitive, and implements a substantial portion of
 the language described in R6RS.
