Source: ikarus
Section: lisp
Priority: extra
Maintainer: Barak A. Pearlmutter <bap@debian.org>
Build-Depends: debhelper (>= 8),
	       autotools-dev (>= 20100122.1~),
	       libgmp3-dev
Standards-Version: 3.9.1
Homepage: http://ikarus-scheme.org/
Vcs-Git: git://git.debian.org/git/collab-maint/ikarus.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/ikarus.git

Package: ikarus
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Scheme compiler and interpreter
 Ikarus is a compiler-based implementation of the Scheme programming
 language which targets the i386 (with sse2) architecture.  It has
 good performance, is rather light weight, is case-sensitive, and
 implements a substantial portion of the language described in R6RS.
