#!/usr/bin/make -f

dh_targets=binary binary-arch binary-indep build build-arch build-indep clean install

$(dh_targets) %:
	dh $@ --with autoreconf --parallel

.PHONY: $(dh_targets)

override_dh_auto_build:
	egrep -q '^flags[[:space:]]*:.*\bsse2\b' /proc/cpuinfo \
	 || (echo "error: CPU instruction set extension sse2 not found."; \
	     echo "   aborting build process"; \
	     exit 1)
	dh_auto_build

override_dh_auto_test:
	@echo testing disabled

override_dh_auto_install:
	dh_auto_install
	rm debian/vicare-scheme/usr/share/doc/vicare-scheme/COPYING
	rm debian/vicare-scheme/usr/share/doc/vicare-scheme/GPL-3
	rm debian/vicare-scheme/usr/share/info/dir
